.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width:725px) {
        flex-direction: column;
    }
}